@model IEnumerable<OnlineRecruitApp.ApplicantsProfile>

@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-route.min.js"></script>
<div ng-view></div>
@section scripts{

    <script src="~/Scripts/angularJS/routeconfig.js"></script>
    <script src="~/Scripts/angularJS/AppAngular.js"></script>
}
